<center><h1>Inteligencia Artificial</header1></center>

Presentado por: Wilmer Solano  <br>
Fecha: 27/07/2022

# Importación de librerias necesarias

In [1]:
#Para esta actividad se importarán las siguientes librerías:
#Importando paquetes
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn import metrics
import pandas as pd

## Cargar el Dataset

In [3]:
#Código para cargar el Dataset
enfermedadCardica= pd.read_csv('Heart.csv')
enfermedadCardica.head() #presentando dataset

,HeartDiseaseorAttack,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,Diabetes,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0

## Descripción de la fuente del Dataset

Se uso un dataset sobre conjunto de datos de indicadores de salud de enfermedades cardíacas, el cual se contiene características de una persona que tiene enfermedad cardiaca. De igual manera indica las características de una persona que no tiene enfermedad cardiaca
https://www.kaggle.com/datasets/alexteboul/heart-disease-health-indicators-dataset

HeartDiseaseorAttack= Si tiene enfermedad o no

HighBP= PA Alto

HighChol= Colesterol alto

CholCheck= Chequeo de colestero

BMI= IMC

Smoker= Si fuma

Stroke= Raza

Diabetes= Diabetes

PhysActivity= Actividad fisica

Fruits= Si consume frutas

Veggies= Si consume vegetales

HvyAlcoholConsump=Si consume alchol

AnyHealthcare= Si cuida si salud

NoDocbcCost= El costo en medico

GenHlth= Su genetica

Sex= Sexo

Age =Edad

Education= Eduacion

Income= Ingreso

In [4]:
#describiendo las caracteristicas anteriormente mencionadas
enfermedadCardica.describe()

,HeartDiseaseorAttack,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,Diabetes,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
count,1580.000000,1580.000000,1580.000000,1580.000000,1580.000000,1580.000000,1580.000000,1580.000000,1580.000000,1580.000000,...,1580.000000,1580.000000,1580.000000,1580.000000,1580.000000,1580.000000,1580.000000,1580.000000,1580.000000,1580.000000
mean,0.131013,0.589241,0.527215,0.981646,29.246203,0.433544,0.062658,0.450000,0.663291,0.572785,...,0.960127,0.105696,2.861392,3.779114,5.524051,0.291139,0.341139,9.034810,4.782911,5.392405
std,0.337521,0.492127,0.499417,0.134272,6.244502,0.495721,0.242424,0.824364,0.472734,0.494831,...,0.195724,0.307546,1.119420,8.030811,9.801581,0.454431,0.474242,2.670303,1.041428,2.197170
min,0.000000,0.000000,0.000000,0.000000,16.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
25%,0.000000,0.000000,0.000000,1.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,7.000000,4.000000,4.000000
50%,0.000000,1.000000,1.000000,1.000000,28.000000,0.000000,0.000000,0.000000,1.000000,1.000000,...,1.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,9.000000,5.000000,6.000000
75%,0.000000,1.000000,1.000000,1.000000,32.000000,1.000000,0.000000,0.000000,1.000000,1.000000,...,1.000000,0.000000,4.000000,3.000000,5.000000,1.000000,1.000000,11.000000,6.000000,7.000000
max,1.000000,1.000000,1.000000,1.000000,59.000000,1.000000,1.000000,2.000000,1.000000,1.000000,...,1.000000,1.000000,5.000000,30.000000,30.000000,1.000000,1.000000,13.000000,6.000000,8.000000

## Explique el problema a resolver. 

El problema a tratar son las personas con enfermedaes caridacas y su estilo de vida, para ello en el dataset la variable objetivo es HeartDiseaseorAttack que representa si tiene una enfermedad cardica. Mientras que las variables de entrada son  HighBP               
 HighChol             
 2   CholCheck            
 BMI                  
Smoker               
Stroke               
 Diabetes             
 PhysActivity         
 Veggies              
 HvyAlcoholConsump    
AnyHealthcare        
 NoDocbcCost          
 GenHlth              
 MentHlth             
PhysHlth             
 DiffWalk             
 Sex                  
Age                  
 Education            
 Income

## Caracterización del Dataset

Realice una descripción de los datos con:

>- Número de instancias en total.
>- Número de atributos de entrada, su significado y tipo.
>- Estadísticas de la variable objetivo.
>- Estadísticas los atributos en relación con la variable objetivo.

In [5]:
#Código que responde a la descripción anterior
#Número de instancias en total.
enfermedadCardica.count()

HeartDiseaseorAttack    1580
HighBP                  1580
HighChol                1580
CholCheck               1580
BMI                     1580
Smoker                  1580
Stroke                  1580
Diabetes                1580
PhysActivity            1580
Fruits                  1580
Veggies                 1580
HvyAlcoholConsump       1580
AnyHealthcare           1580
NoDocbcCost             1580
GenHlth                 1580
MentHlth                1580
PhysHlth                1580
DiffWalk                1580
Sex                     1580
Age                     1580
Education               1580
Income                  1580
dtype: int64

In [6]:
#Número de atributos de entrada, su significado y tipo.
enfermedadCardica.drop('HeartDiseaseorAttack', axis=1).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1580 entries, 0 to 1579
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   HighBP             1580 non-null   float64
 1   HighChol           1580 non-null   float64
 2   CholCheck          1580 non-null   float64
 3   BMI                1580 non-null   float64
 4   Smoker             1580 non-null   float64
 5   Stroke             1580 non-null   float64
 6   Diabetes           1580 non-null   float64
 7   PhysActivity       1580 non-null   float64
 8   Fruits             1580 non-null   float64
 9   Veggies            1580 non-null   float64
 10  HvyAlcoholConsump  1580 non-null   float64
 11  AnyHealthcare      1580 non-null   float64
 12  NoDocbcCost        1580 non-null   float64
 13  GenHlth            1580 non-null   float64
 14  MentHlth           1580 non-null   float64
 15  PhysHlth           1580 non-null   float64
 16  DiffWalk           1580 non-null   float64
 17  Sex                1580 non-null   float64
 18  Age                1580 non-null   float64
 19  Education          1580 non-null   float64
 20  Income             1580 non-null   float64
dtypes: float64(21)
memory usage: 259.3 KB

En un par de párrafos haga un resumen de los principales hallazagos encontrados:

## Preprocesamiento del dataset. Transformaciones previas necesarias para la modelación

In [7]:
#Transformación de las caracteristicas (mire el apartado Feature engineering del aula virtual)

## División del dataset en datos de entrenamiento y datos de test

In [8]:
#Código que realice la división en entrenamiento y test, de acuerdo con la estretgia de evaluación planeada. Describa cuál es.
# separando los datos de entrenamiento y prueba
X_entrenamiento, X_prueba, y_entrenamiento, y_prueba = train_test_split(enfermedadCardica.drop('HeartDiseaseorAttack', axis=1),
                                                    enfermedadCardica['HeartDiseaseorAttack'],
                                                    test_size=0.3,
                                                    random_state=0) #declarando las características de cada entrenamiento y prueba

X_entrenamiento.shape, X_prueba.shape #Presnetnado las divisiones

((1106, 21), (474, 21))

## Modelamiento

In [9]:
#Códo del modelo
clf = svm.SVC(kernel='linear')

In [10]:
#Entrenamiento
clf.fit(X_entrenamiento, y_entrenamiento)

SVC(kernel='linear')

In [11]:
#Test
y_pred = clf.predict(X_prueba)

In [13]:
print("Accuracy:", metrics.accuracy_score(y_prueba, y_pred))


print("Precision:", metrics.precision_score(y_prueba, y_pred))


print("Recall:", metrics.recall_score(y_prueba, y_pred))

Accuracy: 0.8670886075949367
Precision: 0.0
Recall: 0.0

C:\Users\ESTUDIANTE\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

## Evaluación del Modelo

Construya un o dos párrafos con los principales hallazgos. Cómo está funcionando el modelo? Calidad en los resultados de predicción.

En el trabajo realizado con el dataset de conjunto de datos de indicadores de salud de enfermedades cardíacas, se ha obtenido un Accuracy de 0.8, lo que según lo indicado esta correcto. Esto se debe a que según los parámetros no debe de pasar de 1. Cabe recalcar que se ha usado el modelo Support Vector Machine  (SVM según sus siglas en ingles). Tal vez con otro modelo cambie de alguna manera el Accurancy.